body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  padding: 10px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
main.dark{
  background-color: #4d4d4d;
  color: #fff;
}
main.light{
  color: #4d4d4d;
  background-color: #fff;
}
main.dark a{
  background-color: #4d4d4d;
  color: #fff;
}
main.light a{
  color: #4d4d4d;
  background-color: #fff;
}
